body {
  background: #dddddd;
}

h1 {
  align-content: center;
}

button {
  color: aliceblue;
  background: blue;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  font-size: 20px;
  text-transform: lowercase;
  transition: width 2s, height 4s;
}

button:hover {
  width: 600px;
  height: 150px;
}

.container {
  position: relative;
  align-content: center;
  text-align: center;
}
